* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    min-width: 20em;
    margin: 0 auto;
    padding: 0 5%;
}
.list {
    display: flex;
    flex-flow: column;
    cursor: pointer;
}
.list__list-number {
    display: flex;
    flex-flow: column;
}
.string__title {
    font-size: 1em;
    font-weight: 700;
    line-height: 1.25em;
}
.string__title:hover {
    cursor: pointer;
}
.list-number__string {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.string__plus {
    width: 5vw;
    display: none;
    align-self: flex-end;
}
.string__input {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
}
.list-number__img {
    display: none;
    width: 70%;
    align-self: center;
}
list__list-number:first-child .list-number__img {
    display: block;
}


/*820 x 1180*/

@media screen and (min-width: 820px) {
    .container {
        min-width: 51.25em;
        padding: 0 2em;
    }
}

/*1920 x 1080*/

@media screen and (max-width: 1920px) {

    .container {
        margin: 0 auto;
        padding: 5% 4em 5%;
    }
    .string__title {
        font-size: calc(16px + (26 - 16) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 900;
        line-height: 1.8em;
    }
    .list:hover .string__plus {
        display: block;
    }
    .list__list-number {
        transition-duration: 0.5;
    }
    .list__list-number:hover .string__plus {
        transform: rotate(45deg);
        transition-duration: 0.5s;
    }
    .list__list-number:hover .list-number__img {
        display: block;
    }
    .list__list-number:hover .string__title {
        color: blue;
        transition: .5s;
    }
    .list-number__string .string__input:checked + img {
        display: block;
        color:black;
    }
}
